h1 {
  margin-bottom: 0px;
}
h3 {
  margin-top: 0px;
  font-style: italic;
}
.byline {
  font-size: 12px;
  color: grey;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 0px;
}
.headline {
  font-size: 24px;
}
a {
  color: #BF5700;
}
h4 {
  margin-bottom: 0px;
}
.teaser {
  margin-top: 0px;
}
.pulitzer {
  background-color: #E5E4E2;
  padding: 15px;
}
.pulitzer .teaser{
  margin: 0px;
}
.pulitzer .headline {
  font-size: 28px;
  margin: 0px;
}
.pulitzer .byline {
  font-size: 14px;
  margin: 0px;
}
.more {
  border-bottom: 1px solid black;
  padding-bottom: 16px;
  margin-top: 30px;
  margin-bottom: 0px;
}
.container {
  max-width: 800px;
  margin: auto;
  background: white;
  padding: 15px;
}
body {
  background: #696969;
}
